<mat-card>
  <mat-card-title>{{ isEditing ? 'Editar Membro' : 'Novo Membro' }}</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="saveMember()">
      <input [(ngModel)]="newMember.nickname" name="nickname" placeholder="Nickname" required />
      <input [(ngModel)]="newMember.phone" name="phone" placeholder="Telefone" required />
      <input [(ngModel)]="newMember.guildRole" name="guildRole" placeholder="Cargo" required />
      <input [(ngModel)]="newMember.rank" name="rank" placeholder="Rank" required />
      <input [(ngModel)]="newMember.classe" name="classe" placeholder="Classe" required />

      <button mat-raised-button color="primary" type="submit">
        {{ isEditing ? 'Atualizar' : 'Adicionar' }}
      </button>
      <button mat-button type="button" (click)="resetForm()">Cancelar</button>
    </form>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Lista de Membros</mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="members" class="mat-elevation-z8">

      <ng-container matColumnDef="nickname">
        <th mat-header-cell *matHeaderCellDef> Nickname </th>
        <td mat-cell *matCellDef="let member"> {{ member.nickname }} </td>
      </ng-container>

      <ng-container matColumnDef="guildRole">
        <th mat-header-cell *matHeaderCellDef> Cargo </th>
        <td mat-cell *matCellDef="let member"> {{ member.guildRole }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let member">
          <button mat-button color="primary" (click)="editMember(member)">Editar</button>
          <button mat-button color="warn" (click)="deleteMember(member.id)">Excluir</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
