<h3>Menu</h3>
<button class="menu-btn" (click)="setShowDashboard(true)">
  <mat-icon>dashboard</mat-icon>
  Dashboard
</button>
<button class="menu-btn" (click)="setShowMembers(true)">
  <mat-icon>group</mat-icon>
  Members
</button>
<button class="menu-btn" (click)="setShowGroups(true)">
  <mat-icon>groups</mat-icon>
  Grupos
</button>
<button class="menu-btn" (click)="setShowEvents(true)">
  <mat-icon>event</mat-icon>
  Eventos
</button>
<button class="menu-btn" (click)="setShowAttendence(true)">
  <mat-icon>check_circle</mat-icon>
  Presença
</button>
<button class="menu-btn" (click)="setShowSettings(true)">
  <mat-icon>settings</mat-icon>
  Configurações
</button>
<button class="menu-btn" (click)="logout()">
  <mat-icon>logout</mat-icon>
  Sair
</button>
