<mat-card class="groups-card">
  <mat-card-title>Gerenciar Grupos</mat-card-title>
  <mat-card-content>
    <div class="groups-layout" fxLayout="row" fxLayout.xs="column" fxLayoutGap="24px" fxLayoutGap.xs="0" fxFlexFill>
      <!-- Coluna Esquerda -->
      <div class="members-list-panel" fxFlex="40" fxFlex.xs="100">
        <h3 class="members-title">Membros Disponíveis</h3>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Filtrar por Classe</mat-label>
          <mat-select [(value)]="selectedClass" (selectionChange)="filterMembersByClass()">
            <mat-option class="mat-op" [value]="''">Todas as Classes</mat-option>
            <mat-option *ngFor="let classe of classes" [value]="classe">
              <img [src]="'assets/icons/classes/ClassIcon_' + classe + '.png'" [alt]="'Classe ' + classe" width="20"
                height="20" class="classe-icon">
              {{ classe }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Pesquisar membro</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Digite para pesquisar...">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-divider></mat-divider>
        <div cdkDropList id="membersDropList" [cdkDropListData]="dataSource.filteredData"
          [cdkDropListConnectedTo]="groupDropListIds" class="members-list"
          (cdkDropListDropped)="dropToAvailable($event)">
          <div
            *ngFor="let member of dataSource.filteredData | slice:(paginator.pageIndex * paginator.pageSize):(paginator.pageIndex + 1) * paginator.pageSize"
            cdkDrag class="member-item">
            <mat-icon>person</mat-icon> {{ member.nickname }}
            <img [src]="'assets/icons/classes/ClassIcon_' + member.classe + '.png'" [alt]="'Classe ' + member.classe"
              width="24" height="24" class="classe-icon">
            <ng-template cdkDragPreview>
              <div class="drag-preview">
                <mat-icon>person</mat-icon> {{ member.nickname }}
                <img [src]="'assets/icons/classes/ClassIcon_' + member.classe + '.png'"
                  [alt]="'Classe ' + member.classe" width="24" height="24" class="classe-icon">
              </div>
            </ng-template>
          </div>
        </div>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 40]" showFirstLastButtons></mat-paginator>
      </div>

      <!-- Coluna Direita -->
      <div class="right-panel" fxFlex fxFlex.xs="100">
        <div class="group-actions" style="margin-bottom: 16px;">
          <button mat-raised-button color="primary" (click)="openGroupForm()" aria-label="Novo Grupo">
            <mat-icon>add</mat-icon> Novo Grupo
          </button>
        </div>
        <div *ngIf="showGroupForm" class="group-form-panel" style="margin-bottom: 24px;">
          <mat-card>
            <form (ngSubmit)="saveGroup()">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nome do Grupo</mat-label>
                <input matInput [(ngModel)]="groupForm.name" name="groupName" required />
              </mat-form-field>
              <div class="form-actions" fxLayout="row" fxLayoutGap="12px">
                <button mat-raised-button color="primary" type="submit">
                  {{ groupForm.id ? "Atualizar" : "Criar" }}
                </button>
                <button mat-button type="button" (click)="cancelGroupForm()">
                  Cancelar
                </button>
              </div>
            </form>
          </mat-card>
        </div>
        <div class="groups-list">
          <mat-card class="group-card" *ngFor="let group of groups" style="margin-bottom: 16px;">
            <div class="group-header" fxLayout="row" fxLayoutAlign="space-between center">
              <span>{{ group.name }}</span>
              <span class="group-actions">
                <button mat-icon-button color="primary" (click)="editGroup(group)" aria-label="Editar grupo">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteGroup(group)" aria-label="Excluir grupo">
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </div>
            <div cdkDropList [id]="'groupDropList-' + group.id" [cdkDropListData]="group.members"
              [cdkDropListConnectedTo]="['membersDropList']" class="group-members-list"
              (cdkDropListDropped)="dropToGroup($event, group)">
              <div *ngFor="let member of group.members" cdkDrag class="member-item">
                <mat-icon>person</mat-icon> {{ member.nickname }}
                <img [src]="'assets/icons/classes/ClassIcon_' + member.classe + '.png'"
                  [alt]="'Classe ' + member.classe" width="24" height="24" class="classe-icon" />
                <ng-template cdkDragPreview>
                  <div class="drag-preview">
                    <mat-icon>person</mat-icon> {{ member.nickname }}
                    <img [src]="'assets/icons/classes/ClassIcon_' + member.classe + '.png'"
                      [alt]="'Classe ' + member.classe" width="24" height="24" class="classe-icon" />
                  </div>
                </ng-template>
                <button mat-icon-button color="warn" (click)="removeMemberFromGroup(member, group)"
                  matTooltip="Remover do grupo" aria-label="Remover do grupo">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>