<app-navbar></app-navbar>
<mat-sidenav-container style="height: 100vh;">
  <mat-sidenav mode="side" opened>
    <app-sidebar (showMembersChange)="showMembers = $event; showEvents = !$event" (logoutClick)="logout()"></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <ng-container *ngIf="showMembers; else eventos">
        <app-members></app-members>
      </ng-container>
      <ng-template #eventos>
        <app-events *ngIf="showEvents"></app-events>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
